<!DOCTYPE html>
<html>
    <head>
        <title>Account Info</title>
        <link rel="stylesheet" href="styling.css">
    </head>
    <body>
        <div class="textbox">
            <h1>Rate My Semester</h1>
            <h2>Your Account Info</h2>
            <!--Display Username and password-->
            <form action="/app/login">
                <input type="submit" value="Return Home" class="base-btn"/>
            </form>
            <form action="/app/login/delete">
                <input type="submit" value="Delete Account" class="base-btn"/>
            </form>
        </div>
    </body>
</html>