<!DOCTYPE html>
<html>
    <head>
        <title>Account Info</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="textbox">
            <h1>Rate My Semester</h1>
            <h2>Are you sure you want to delete your account?</h2>
            <!--Display Username and password-->
            <form action="/app/">
                <input type="submit" value="Yes" class="base-btn"/>
            </form>
            <form action="/app/login/acc">
                <input type="submit" value="No" class="base-btn"/>
            </form>
        </div>
    </body>
</html>