<!DOCTYPE html>
<html>
    <head>
        <title>Account Info</title>
        <link rel="stylesheet" href="styles.css">
        <style>
            body {
              background-color: #7BAFD4;
            }
            </style>
    </head>
    <body>
        <div class="textbox">
            <h1>Rate My Semester</h1>
            <h2>Your account has been deleted</h2>
            <form action="/app/">
                <input type="submit" value="Home" class="base-btn"/>
            </form>
        </div>
    </body>
</html>