<!DOCTYPE html>
<html>
    <head>
        <title>History</title>
        <link rel="stylesheet" href="styles.css">
        <style>
            body {
              background-color: #7BAFD4;
            }
            </style>
    </head>
    <body>
        <div class="textbox">
            <h1>Rate My Semester</h1>
            <h2>Your History</h2>
            <!--This is where the database will show the information-->
            <form action="/app/login">
                <input type="submit" value="Return Home" class="base-btn"/>
            </form>
        </div>
    </body>
</html>