<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Logs</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        body {
          background-color: #7BAFD4;
        }
        </style>
  </head>
  <body class="text-box">
    <h1>Rate My Semester</h1>
    <h2>Log History:</h2>

    <ul>
      <% data.forEach(function(dat) { %>
          User: <%= dat.user %>
          <br>
          Date: <%= dat.time%>
          <br>
          <br>
      <% }); %>
    </ul>
    <form action="/app">
        <input type="submit" value="Return Home" class="base-btn"/>
    </form>
  </body>

</html>