<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Home</title>
        <link rel="stylesheet" href="styles.css">
        <style>
          body {
            background-color: #7BAFD4;
          }
          </style>
    </head>

    <body>
        <div class = "text-box">
            <h1>Welcome to Rate My Semester!</h1>
            <h2>Please login or create a new account</h2>
            <h3>Login</h3>
            <!-- Allows user to login taking 2 parameters, username and password -->
            <form method="post" action="/app/login">
                <p>
                  <label for="username">Username</label>
                  <input type="text" name="username" id="username">
                </p>
                <p>
                  <label for="password">Password</label>
                  <input type="text" name="password" id="password">
                </p>
                <p>
                  <input type="submit" value="Login" class="base-btn">
                </p>
              </form>
              <!-- Allows user to create new account with 2 parameters, username and password -->
              <h3>Create New Account</h3>
              <form method="post" action="/app/newacc">
                <p>
                  <label for="username">Username</label>
                  <input type="text" name="username" id="username">
                </p>
                <p>
                  <label for="password">Password</label>
                  <input type="text" name="password" id="password">
                </p>
                <p>
                  <input type="submit" value="Create new account" class="base-btn">
                </p>
              </form>
        </div>
    </body>
</html>