<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Fail</title>
    <link rel="stylesheet" href="styling.css">
  </head>
  <body>
    <div class="text-box" style="top: 20%;">
        <h1>Rate My Semester</h1>
        <h2>Login Failed</h2>
        <h2>Username or password is incorrect</h2>
        <form action="/">
            <input type="submit" value="Return to Home Page" class="base-btn" style="margin: 10px;"/>
        </form>
    </div>
  </body>
</html>