<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login Success</title>
  <link rel="stylesheet" href="styles.css">
  <style>
    body {
      background-color: #7BAFD4;
    }
  </style>
</head>

<body>
  <div class="text-box" style="top: 20%;">
    <h1>Rate My Semester</h1>
    <h2>Welcome to Your Homepage!</h2>
    <h3>Here you can view a new semester's professor rating and difficulty, or view your history! </h3>
    <div>
      <!-- Allows user to make a new semester by taking in 5 teacher parameters and directing you to the ratings page -->
      <h3>View Semester Rating</h3>
      <form method="post" action="/app/login/ratings/">
        <p>
          <label for="username">Teacher 1</label>
          <input type="text" name="t1" id="t1">
        </p>
        <p>
          <label for="username">Teacher 2</label>
          <input type="text" name="t2" id="t2">
        </p>
        <p>
          <label for="username">Teacher 3</label>
          <input type="text" name="t3" id="t3">
        </p>
        <p>
          <label for="username">Teacher 4</label>
          <input type="text" name="t4" id="t4">
        </p>
        <p>
          <label for="username">Teacher 5</label>
          <input type="text" name="t5" id="t5">
        </p>
        <p>
          <input type="submit" value="View Semester" class="base-btn">
        </p>
        <div>
          <h3>Manage Your Account</h3>
        </div>
        <!-- Button to view user history -->
      </form>
      <form action="/app/login/history/">
        <input type="submit" value="View History" class="btn" style="margin: 0px;" />
      </form>
      <!-- Button to view user account details -->
      <div>&nbsp;</div>
      <form action="/app/login/acc">
        <input type="submit" value="Account Details" class="btn" style="margin: 0px;" />
      </form>
      <div>&nbsp;</div>
      <!-- Button to logout -->
      <form action="/app">
        <input type="submit" value="Logout" class="btn" style="margin: 0px;" />
      </form>
    </div>
  </div>
</body>

</html>
